body {
	margin: 0;
}

* {
	user-select: none;
}

.game-area {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.text-area {
	position: absolute;
	width: 100%;
	height: 15%;
	bottom: 0;
	align-items: center;
	display: flex;
}

.text-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: aqua;
	opacity: 80%;
}

.text-area span {
	display: inline;
	position: absolute;
	margin-left: 12px;
	font-size: 32px;
}

.everything {
	width: 1280px;
	height: 720px;
	margin: auto;
}

.question {
	display: flex;
	margin: auto;
	pointer-events: all;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 85%;
	top: 0;
	justify-content: space-around;
	
}

.question button {
	all: unset;
	font-size: 32px;
	background-color: green;
	width: 50%;
	height: 20%;
	justify-self: center;
	align-self: center;
	text-align: center;
	user-select: none;
	opacity: 80%;
}

.space-rocket {
	height: 400px;
	width: 160px;
	position: absolute;
	top: 180px;
	left: 570px;
}