@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
	border: none;
	background-color: transparent;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: auto;
}

body {
	margin: 0;
}